@tailwind base;
@tailwind components;
@tailwind utilities;

p, code, pre {
    margin: 0.6rem;
  }
  
   pre,code {
    background-color: rgb(3, 13, 12);
    
  }

  code{
    padding: 2px 6px 2px 6px;
  }

  pre {
    padding: 0.6rem;
    border-radius: 10px;
  }
  


